export BOOTSTRAP=false
export NODE_NAME={ the node name }
export NODE_IP={ the node IP }
export ENCRYPT={ the encrypt key common to all node in cluster }
export DATACENTER_NAME={ the datacenter name }
export MANAGERS_IPS='{ list of managers nodes IP with '"' and separate by ';'}'
export CONSUL_API_PORT={ the chosen port for consul api, it can be 8500 }
export CONSUL_MASTER_IP= { the consul manager IP (= NODE_IP in server case) }
export SWARM_PORT={ the chosen port for swarm instead of 2375 }
