export BOOTSTRAP=false
export NODE_NAME={ the node name }
export NODE_IP={ the node IP }
export ENCRYPT={ the encrypt key common to all node in cluster }
export DATACENTER_NAME={ the datacenter name }
export MANAGERS_IPS='{ list of managers nodes IP with '"' and separate by ';'}'
